.return-home {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #9cc5ee; /* Bright color for visibility */
    color: #000; /* Text color */
    text-decoration: none; /* Remove underline from links */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* Simple shadow for depth */
    transition: background-color 0.3s; /* Smooth background color transition on hover */
}

.home-button:hover {
    background-color: #b2cce6; /* Slightly darker color on hover */
}

 /* Add a background image or a gradient for a more dynamic look */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin: 0;
     padding: 0;
    background-color: #121212;
     color: #f5f5f5;
     background-image: linear-gradient(to right bottom, #4b6cb7, #182848);
     background-attachment: fixed;
        }

        /* Add some padding and text shadow to the header for depth */
        h1, h2 {
            color: #b2cce6;
            text-align: center;
            padding: 20px 0;
            text-shadow: 2px 2px 4px #000000;
        }

        .content {
            max-width: 800px;
            background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
            padding: 40px;
            border-radius: 15px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.5);
            margin: 40px auto; /* Center the content */
            overflow: hidden; /* In case of floating elements */
        }

        /* Improve list appearance */
        ul {
            list-style-type: none;
            padding: 0;
        }
        
        li {
            background-color: rgba(0, 106, 255, 0.2);
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
        }

        /* Footer styling */
        footer {
            text-align: center;
            padding: 20px;
            font-size: 0.9em;
            background-color: rgba(0, 0, 0, 0.8);
        }

        /* Add more styles below for other elements as needed */
