html, body {
  height: 100%; 
  margin: 0;
}

.d-flex.flex-column.h-100 {
  min-height: 100vh; /
}

.container-fluid.flex-fill {
  flex: 1; 
  display: flex;
  flex-direction: column;
}

/* Header styles */
.header-section {
  background-color: #000; 
  color: white; 
  padding: 1rem 0; 
  text-align: center; 
}

/* Content section styling */
.container-fluid {
  flex-grow: 1; 
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow-y: auto; 
}

.product-name {
  margin: 10px; 
}

.container-fluid.flex-fill {
  flex: 1;
}

/* Footer styles */
footer {
  /* padding: 1rem ;  */
  background-color: #333; /* Dark background for the footer */
  color: white; /* White text color */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333; /* Dark background for the footer */
  color: white; /* White text color */
  text-align: center;
  padding: 1rem 0; /* Padding for the footer */
}

 body {
  font-family: 'Montserrat', sans-serif;
  background-color: #004080; 
  color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.hero-section {
  background: #004080; 
  color: white;
  text-align: center;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.display-1 {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
/* Button style */
.lead {
  font-size: 1.25rem; 
  margin-bottom: 2rem;
}

.btn {
  padding: 0.75rem 1.5rem; 
  font-size: 1.25rem;
  border-radius: 0.5rem; 
  margin: 0 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  transition: all 0.3s; 
}

.btn-outline-secondary {
  background-color: transparent;
  color: #fff;
  border-color: #fff; 
}
.button-group {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
}

html, body {
  height: 100%;
  margin: 0;
}

.container-fluid {
  min-height: calc(100vh -50vh); /* Replace <footer-height> with the actual height of your footer */
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #333;
  color: white;
  width: 100%;
}