<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.31.1.min.js" charset="utf-8"></script>
</head>
<body>
    <div id="companySelector">
        <select id="companyDropdown" onchange="optionChanged(this.value)">
            <!-- <option value="">Select a company</option> -->
            <!-- Country options will be dynamically added here -->
          </select>
    </div>
    <div id="summaryCards">
        <!-- Summary cards go here -->
    </div>
    <div id="financialCharts">
        <canvas id="financialCharts"></canvas>

        <!-- Financial charts go here -->
    </div>
    <div id="modelOutputs">
        <!-- Model output visualizations go here -->
    </div>
    
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>