<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forecasting-bankrupt-companies-Project</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header>
    <h1>Forecasting-bankrupt-companies-Project</h1>   
    <nav>
      <ul>
        <script src="{{ url_for('static', filename='script.js') }}"></script>

      </ul>
    </nav>
  </header>

  <!--section here-->

  <section id="about">
    <h2>section_1</h2>
    <p>put one Forecasting here</p>
  </section>

 


  <footer>
    <p>&copy; Project 4 for UofT bootcamp</p>
  </footer>
</body>
</html>