

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Failure Prediction Tool</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-black"> -->
        <!-- <div class="container">
            <div class="uoft-logo">
                <a href="/" title="Home" rel="home" class="navbar-brand">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLW8csggN_HmWzrp56sM4K3D-JGsRMgTZLFC8U3lW_vYAQ7LZFFEDpGhqK6dD3CVzlfGA&usqp=CAU" alt="Home" class="img-fluid d-inline-block align-top" />
                <span class="ml-2 d-none d-md-inline"></span>
            </a>
            </div> -->
            <!-- <div class="text-center">
                <h1 id="headline_top">Data Analytics Bootcamp</h1>
                <h3 id="headline_bottom">Final Project</h3>
            </div>
     -->
        <!-- </div>
    </nav> -->

    <header class="hero-section">
        <div class="container">
            <h1 class="display-1">Forecasting <br> Your <span class="text-primary">Investments</span>.</h1>
            <p class="lead">This tool helps you predict the financial stability of companies based on data-driven insights.</p>
            <div class="button-group">
                <a href="dashboard.html" class="btn btn-primary" id="get-started">Get Started</a>
                <a href="introduction.html" class="btn btn-outline-secondary" id="learn-more">Learn More</a>
            </div>
    </header>
    <div>
        <img src="https://imgs.search.brave.com/F0_FPq_hVh9HmBScAnNbknCc9gFOwfSHwb5TXraJQK8/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/dG9vbHNoZXJvLmNv/bS93cC1jb250ZW50/L3VwbG9hZHMvMjAy/MC8wMy9maW5hbmNp/YWwtZm9yZWNhc3Rp/bmctdG9vbHNoZXJv/LmpwZw" alt="image" class="img-fluid d-inline-block align-bottom">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="script.js"></script>
</body>
</html>